.product {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  margin: auto;
  padding: 2.5em 0;
  min-width: 600px;
  background-color: #fffee1;
  border-radius: 5px;

  /* ----- Informations Section ----- */
  .product__info {
    padding: 0.8em 0 0.8em 2em;
    * {
      color: black;
      text-align: justify;
    }

    p {
      line-height: 22px;
      margin-bottom: 20px;
    }
  }

  /* ----- Photo Section ----- */
  .product__photo {
    position: relative;
  }

  .photo-container {
    position: absolute;
    right: -2.5em;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .product {
    grid-template-columns: unset;
    grid-template-rows: 0.9fr 1fr;

    .product__info {
      order: 2;
    }
    .product__photo {
      order: 1;
      .photo-container {
        right: unset;
        margin: 0 2rem;
        width: 90%;
      }
    }
  }
}
