.product {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  margin: auto;
  padding: 2.5em 0;
  height: 60vh;
  min-width: 600px;
  background-color: white;
  border-radius: 5px;
}

/* ----- Informations Section ----- */
.product__info {
  padding: 0.8em 0;
}

/* ----- Photo Section ----- */
.product__photo {
  position: relative;
}

.photo-container {
  position: absolute;
  right: -2.5em;
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: rgb(204, 126, 53);
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}
