.page-title {
  position: relative;
  left: 0;
  width: 100vw;
  height: 40vh;
  background: #fff;

  .bread-main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    font-size: 4rem;
    color: #000;
  }

  .breadcrumb {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    li {
      font-size: 1rem;
      color: #000;
      margin-right: 5px;
      position: relative;

      a {
        text-decoration: none;
      }
    }
    li + li {
      margin-left: 20px;
      padding-left: 15px;

      &:before {
        content: "/";
        color: #000;
        padding: 0;
        position: absolute;
        left: -8px;
        top: 2px;
      }
    }
  }

  .shape {
    animation: rotate 20s infinite linear;
    -webkit-animation: rotate 20s infinite linear;
  }
  .shape-position1 {
    position: absolute;
    left: 20%;
    bottom: 23%;
  }
  .shape-position2 {
    position: absolute;
    top: auto;
    bottom: 30%;
    right: 20%;
  }
  .shape-position3 {
    position: absolute;
    left: 9%;
    top: 7%;
  }
  .shape-position4 {
    position: absolute;
    top: 75%;
    right: auto;
    left: 35%;
  }
  .shape-position5 {
    position: absolute;
    right: 10%;
    top: 10%;
  }
  .shape-position6 {
    position: absolute;
    left: 58%;
    bottom: 23%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1turn);
  }
}
