:root {
  --bc: #f9f3ee;
  --bc-dark: #141412;
  --primary: rgb(161, 166, 252);
  --accent1: rgba(251, 161, 229, 1);
  --accent2: rgba(241, 196, 161, 1);
  --white: #ffffff;
  --black: #000000;
  /* Gray Colors */
  --bc-gray: #ede8e4;
  --gray: #9e9d9b;
  --gray-dark: #1c1a19;

  /* Sizes */
  --heading: 3.4rem;
  --paragraph: 1.1rem;
  --button-small: 1rem;
  /* Fonts */
  --font-main: "Poppins";
}

main {
  .contacts {
    margin: 1.5rem 0;
  }
}

textarea {
  min-height: 10em;
  font-family: var(--font-main);
  transition: opacity 0.15s ease-in-out;
  resize: none;
}
textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
textarea::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
  border-radius: 5em;
  background-color: var(--primary);
}
/* Global classes */
.space {
  min-height: 25vh;
}
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexbox-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexbox-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flexbox-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flexbox-col-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.flexbox-col-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
.flexbox-left-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.flexbox-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Form */
.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form {
  width: 75%;
}
.form {
  width: 100%;
}

.form-undertitle {
  margin: 0 0 1em 0;
  color: white;
  font-weight: 600;
}
.send-success {
  width: 100%;
  padding: 1em;
  border-radius: 4px;
  background-color: var(--light-green);
  color: var(--white);
}
.send-error {
  width: 100%;
  padding: 1em;
  border-radius: 4px;
  background-color: var(--red);
  color: var(--white);
}
.form-text {
  margin: 1em 0 0.75em 2.2em;
  color: white !important;
  font-weight: 300;
}
.form-input-grid {
  margin: 1.5em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5em;
}

.form-input-wrapper {
  width: 100%;
  position: relative;
}
.form-input-wrapper i {
  left: 1em;
  position: absolute;
  font-size: 1.88rem;
  color: var(--primary);
  text-shadow: 0 0 4px rgba(161, 166, 252, 0.5);
}
#textarea textarea {
  border-radius: 2.25em;
}
#textarea i {
  top: 0.6em;
}
.form-input {
  width: 100%;
  padding: 1.2em 1.2em 1.2em 2em;
  border-radius: 5em;
  box-shadow: 0 5px 20px 0 rgba(237, 232, 228, 0.8);
  background-color: var(--bc-gray);
  border: 2px solid var(--bc-gray);
  transition: border 0.15s ease-in-out;
}
.form-input:hover {
  border: 2px solid var(--primary);
}
.form-input:focus {
  outline: none;
  border: 2px solid var(--primary);
}

//
.contact-button {
  float: left;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 20px 0 rgba(237, 232, 228, 0.8);
  margin-right: 1rem;

  a {
    text-decoration: none;
  }
  span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
  }
  &:hover {
    width: 200px;
  }

  &:nth-child(1):hover .icon {
    background: #4267b2;
  }

  &:nth-child(2):hover .icon {
    background: #e1306c;
  }

  .icon {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }
  i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-in-out;
    color: #000;
  }
  &:hover i {
    color: #fff;
  }
  &:nth-child(2) span {
    color: #e1306c;
  }
  &:nth-child(1) span {
    color: #4267b2;
  }
}

/* Media Rules */
@media only screen and (max-width: 1660px) {
  :root {
    /* Sizes */
    --heading: 3rem;
  }
}
@media only screen and (max-width: 1456px) {
  :root {
    /* Sizes */
    --heading: 2.8rem;
  }
}
@media only screen and (max-width: 1024px) {
  :root {
    /* Sizes */
    --heading: 2.4rem;
  }
  /* Form */
  #form {
    width: 85%;
  }
}
@media only screen and (max-width: 756px) {
  :root {
    /* Sizes */
    --heading: 2.2rem;
  }
  /* Form */
  #form {
    width: 90%;
  }
}
@media only screen and (max-width: 576px) {
  /* Form */
  .form-input-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 1.5em;
  }
}
@media only screen and (max-width: 496px) {
  :root {
    /* Sizes */
    --heading: 1.75rem;
  }
}
