// The dropdown wrapper (`<div>`)
nav {
  z-index: 99999;
  box-shadow: black;
  background: hsla(236, 69%, 13%, 1);

  background: linear-gradient(
    90deg,
    hsla(236, 69%, 13%, 1) 0%,
    hsla(236, 43%, 36%, 0.6) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(236, 69%, 13%, 1) 0%,
    hsla(236, 43%, 36%, 0.6) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(236, 69%, 13%, 1) 0%,
    hsla(236, 43%, 36%, 0.6) 100%
  );

  color: white;

  .navbar-brand {
    margin-right: 7rem;
  }

  #responsive-navbar-nav {
    text-align: center;
  }
  a {
    text-decoration: none;
  }

  .img-h {
    height: 4.3rem;
  }

  .ml-auto {
    margin-left: auto;
  }

  .dropdown-menu {
    min-width: 6rem !important;
    border-radius: 0.3rem;
  }
}
