$brown: #915f35;
$orange: #e57740;
$gray: #8d8d8d;

/* Card Container & Body */

.card-container {
  position: relative;
  width: 60vw;
  transition: all 0.7s linear;
  margin: 20px auto;

  .row {
    justify-content: space-around;
  }

  a {
    text-decoration: none;
  }
}

/*- Card sides -*/
.card-show {
  background: #fffee1;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  padding: 25px;

  h2 {
    color: $brown;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  p,
  li {
    color: $gray;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
  }
  .container-fluid {
    height: 100%;
    .row {
      height: 100%;
    }
  }
}

/* Card-Sides */

.card-show {
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .price-rating {
    display: flex;
    justify-content: space-between;
    h3 {
      color: $brown;
      font-size: 1.2rem;
      font-family: "News Cycle", sans-serif;
      text-transform: uppercase;
      span {
        color: $orange;
      }
    }

    .price p {
      font-size: 1.5rem;
      font-family: "News Cycle", sans-serif;
      line-height: 2rem;
      color: $orange;
    }
  }
  .details {
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid lighten($orange, 30%);
  }
  .button {
    margin-top: auto;
    border: 1px solid black;
    border-radius: 40px;
    color: black;
    cursor: pointer;
    display: block;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s linear;
    overflow: hidden;
    z-index: 3;
    &:before {
      position: absolute;
      top: 0%;
      left: -160%;
      width: 150%;
      height: 100%;
      background: black;
      content: " ";
      transition: all 0.4s ease-in;
      transform: skewX(60deg);
      z-index: -1;
    }
    &:hover {
      color: #fff;
    }
    &:hover:before {
      left: -30%;
    }
  }
}

@media (max-width: 992px) {
  .card-container {
    width: 85vw;
  }
}
